**/target/
!.mvn/wrapper/maven-wrapper.jar
server
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

NFS_SHARED_FILE/container_dirs/*
NFS_SHARED_FILE/templates/*
!NFS_SHARED_FILE/templates/.gitkeep
!NFS_SHARED_FILE/container_dirs/.gitkeep

.DS_store
*.war

host.env.example
# traefik cert
config/traefik/cert.json

.gradle/
host.env