<server description="Authentication server ">

    <featureManager>
        <!-- https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html -->
        <feature>microProfile-4.0</feature>
        <feature>ejbLite-3.2</feature>
        <feature>beanValidation-2.0</feature>

        <feature>jaxrs-2.1</feature>

    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>

    <httpEndpoint httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint"
                  host="*"/>

    <application location="core-1.0.war" type="war" context-root="/auth/">
    </application>

    <cors domain="/auth"
          allowedOrigins="https://remote-code.woldseth.xyz"
          allowedMethods="OPTIONS, GET, POST, DELETE, PATCH"
          allowCredentials="true"
          allowedHeaders="*"
          exposeHeaders="*"
          maxAge="3600"
    />

    <!--          allowedHeaders="origin, content-type, accept, authorization, cache-control, Authorization"-->

    <include location="server_ds_config.xml"/>

</server>
