$blue1: #00008f;
$blue2: #0001db;
$blue3: #1919ff;

$gray1: #707070;

$card-border-color: #747474;
$card-bg: #f5f5f5;

$border-radius: 10px;


$appBoxShadow: 0.1rem 0.09rem 0.3rem rgba(147, 147, 147, 0.58);
